
ul {
    padding: 25px;
    margin: 0px;
}

ul li {
    padding-left: 0px;
    margin-left: 25px;
    text-align: left;
    list-style-type: disc;
}

.data_details1 {
    float: left;
    width: 300px;
    height: 250px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(166, 210, 255);
    border: 2px solid rgb(0, 64, 128);
    -moz-border-radius: 15px;               /* Gecko browsers */
    -webkit-border-radius: 15px;            /* Webkit browsers */
    border-radius: 15px;                    /* W3C browsers */
}

.data_details2 {
    float: left;
    width: 300px;
    height: 250px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(250, 222, 148);
    border: 2px solid rgb(0, 64, 128);
    -moz-border-radius: 15px;               /* Gecko browsers */
    -webkit-border-radius: 15px;            /* Webkit browsers */
    border-radius: 15px;                    /* W3C browsers */
}

.data_details3 {
    float: left;
    width: 300px;
    height: 250px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(239, 154, 150);
    border: 2px solid rgb(0, 64, 128);
    -moz-border-radius: 15px;               /* Gecko browsers */
    -webkit-border-radius: 15px;            /* Webkit browsers */
    border-radius: 15px;                    /* W3C browsers */
}